/target
Cargo.lock

# local runtime data / instances
/rusedb-instance/
/tmp/
/rusedb.columns
/rusedb.indexes
/rusedb.tables

# storage engine artifacts
*.columns
*.indexes
*.tables
*.wal
*.heap
*.idx
